[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
stax = {editable = true,path = "."}
pytest = "*"
yapf = "*"

[packages]
click = "*"
boto3 = "*"
halo = "*"
pyyaml = "*"
GitPython = "*"

[requires]
python_version = "3.8"
